* text=auto eol=lf
* text=auto
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.woff2 binary
